@import '~@lumx/core/scss/lumx-theme-lumapps.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

@import './App/App.scss';
@import './core/Layout/components/Header/styles.scss';
@import './core/Layout/components/SearchField/styles.scss';
@import './core/Layout/styles.scss';
@import './core/Ui/Loader/styles';
@import './features/Home/styles.scss';
@import './features/Home/components/HeadlinesBlock/styles.scss';
@import './features/Home/components/LoadMore/styles.scss';
@import './features/Home/components/Card/styles.scss';
@import './features/Home/components/CardList/styles.scss';
